p {
    text-align: justify;
}

li > a {
    text-decoration: none;
    color: inherit;
}

/* tirets avant liste */
.hyphen::before {
    content: "- ";
}

.hyphen {
    text-align: justify;
}

/* Scrollbar latérale colonne gauche*/
.navbar {
    height: 10%;
}

.container-90 {
    height: 90%;
}

.prop-list {
    overflow-y: scroll;
}
