p {
    text-align: justify;
}

li > a {
    text-decoration: none;
    color: inherit;
}

li > a:hover {
    font-weight: bold;
}

/* tirets avant liste */
.hyphen::before {
    content: "- ";
}

.hyphen {
    text-align: justify;
}

