p {
    text-align: justify;
}

li > a {
    text-decoration: none;
    color: inherit;
}

/* tirets avant liste */
.hyphen::before {
    content: "- ";
}

.hyphen {
    text-align: justify;
}

/* Scrollbar latérale colonne gauche*/
html, body, .row,  .container-fluid {
    height: 100%;
}

.prop-list {
    height: 100%;
    overflow-y: scroll;
}
